@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: black;
  --error: #ff1f1f;
  --theme: #1f5af2;
  --secondary: #e4e4e4;
  --skeleton: #b7b7b7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-error: var(--error);
  --color-theme: var(--theme);
  --color-secondary: var(--secondary);
  --color-skeleton: var(--skeleton);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  color: var(--text);
}

button {
  cursor: pointer;
  text-decoration: none;
}
